{%
set classes = [
'field',
'field--name-' ~ field_name|clean_class,
'field--type-' ~ field_type|clean_class,
'field--label-' ~ label_display,
]
%}
{%
set title_classes = [
'field__label',
label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if simplenews_newsletter_email  %}
  {% if  not label_hidden %}
    <tr class="field">
        <td class="field_label">{{ label }}</td>
    </tr>
  {% endif %}
  <tr class="field">
    <td  class="field_item">
      <h2><a href="{{ url }}">{{ agenda_title }}</a></h2>
    </td>
  </tr>
{% elseif label_hidden %}
    {% if multiple %}
        <div{{ attributes.addClass(classes, 'field__items') }}>
            {% for item in items %}
                <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
            {% endfor %}
        </div>
    {% else %}
        {% for item in items %}
            <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
        {% endfor %}
    {% endif %}
{% else %}
    <div{{ attributes.addClass(classes) }}>
        <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
        {% if multiple %}
        <div class="field__items">
            {% endif %}
            {% for item in items %}
                <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
            {% endfor %}
            {% if multiple %}
        </div>
        {% endif %}
    </div>
{% endif %}
