{% if simplenews_newsletter_email == "YES" %}
        <tr class="field">
        {% if  label_hidden %}
            <td class="field_label">&nbsp;</td>
        {% else %}
            <td class="field_label">{{ label }}</td>
        {% endif %}
        {% for item in items %}
            <td  class="field_item">{{ item.content }}</td>
        {% endfor %}
        </tr>
{% elseif label_hidden %}
    {% if multiple %}
        <div{{ attributes }}>
            {% for item in items %}
                <div{{ item.attributes }}>{{ item.content }}</div>
            {% endfor %}
        </div>
    {% else %}
        {% for item in items %}
            <div{{ attributes }}>{{ item.content }}</div>
        {% endfor %}
    {% endif %}
{% else %}
    <div{{ attributes }}>
        <div{{ title_attributes }}>{{ label }}</div>
        {% if multiple %}
        <div>
            {% endif %}
            {% for item in items %}
                <div{{ item.attributes }}>{{ item.content }}</div>
            {% endfor %}
            {% if multiple %}
        </div>
        {% endif %}
    </div>
{% endif %}