{#
/**
 * @file
 * Default theme implementation to display a single Drupal page.
 */
 #}

<header class="header-main">
    <div class="menu-btn open" aria-hidden="true">&#9776; Menu</div>
    <div class="contain">
        <a class="logo logo-svg" href="{{ front_page }}" title="To home page">
            <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.5.2 (25235) - http://www.bohemiancoding.com/sketch -->
                <title>Icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="Icon" sketch:type="MSLayerGroup" transform="translate(1.000000, 1.000000)">
                        <path id="Line" stroke="#000000" stroke-width="0.5" stroke-linecap="square"
                              sketch:type="MSShapeGroup" d="M5.95688529,12.8791946 L8.81233526,12.8791946"></path>
                        <path d="M4.43879317,14.5061897 L6.10314994,13.9287582 L8.61666585,13.9457433 L16.038332,12.5870846 L24.1902787,12.4342356 L33.7178664,12.2813866 L34.1764134,29.4004746 L29.5909434,28.7551112 L29.6928427,21.0617115 C29.6928427,21.0617115 28.1983231,18.8199262 26.7547473,18.2085302 C25.3111714,17.5971342 23.443013,16.6800402 22.6617887,16.9178063 C21.8805644,17.1555724 19.0567158,17.7550551 18.2536205,18.2085302 C17.4505252,18.6620052 17.1931951,19.4652866 17.1931951,20.0427182 C17.1931951,20.6201497 16.9384467,23.6091949 16.9384467,23.6091949 L15.1552084,23.7110942 L15.2910722,18.887861 C15.2910722,18.887861 14.119224,17.1385901 12.675654,16.6460757 C11.2320841,16.1535613 9.160127,17.4103207 9.160127,17.970767 C9.160127,18.5312134 8.99029871,21.8259565 8.99029871,21.8259565 L6.06918251,21.1975783 L4.21801227,21.3674095 L4.44616622,13.9525167 L4.43879317,14.5061897 Z"
                              id="Path-1" stroke="#979797" stroke-width="0.5" fill="#D8D8D8"
                              sketch:type="MSShapeGroup"></path>
                        <path d="M24.388973,23.2525472 L16.984292,23.5922126 L17.2050699,19.5671889 L17.6806021,18.7010446 L18.4710309,18.010341 C18.4710309,18.010341 22.4189271,16.7140076 22.8944533,16.7140076 C23.3699796,16.7140076 25.5778005,17.8009328 25.5778005,17.8009328 L24.779591,18.8029439 C24.779591,18.8029439 24.7965703,18.8029469 24.5927716,19.7030557 C24.388973,20.6031645 24.388973,23.2525472 24.388973,23.2525472 Z"
                              id="Path-2" stroke="#979797" stroke-width="0.5" fill="#4A4A4A"
                              sketch:type="MSShapeGroup"></path>
                        <path d="M15.3934442,21.5477852 L8.98172636,21.5477851 L9.04966122,17.6925956 C9.04966122,17.6925956 9.37233555,16.962315 10.6460802,16.3848865 C11.9198248,15.8074579 13.3973622,16.7585164 13.3973622,16.7585164 C13.3973622,16.7585164 15.6821629,18.1623068 15.3934442,18.4510226 C15.1047255,18.7397383 15.3934442,21.5477852 15.3934442,21.5477852 Z"
                              id="Path-3" stroke="#979797" stroke-width="0.5" fill="#4A4A4A"
                              sketch:type="MSShapeGroup"></path>
                        <path d="M4.65015394,13.4159856 L6.29566749,12.7868186" id="Line" stroke="#000000"
                              stroke-width="0.5" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                        <path d="M8.66714289,12.8352161 L15.6847742,11.0929076" id="Line" stroke="#000000"
                              stroke-width="0.5" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                        <path id="Line" stroke="#000000" stroke-width="0.5" stroke-linecap="square"
                              sketch:type="MSShapeGroup" d="M8.79865772,12.7868186 L8.79865772,13.8515627"></path>
                        <path id="Line" stroke="#000000" stroke-width="0.5" stroke-linecap="square"
                              sketch:type="MSShapeGroup" d="M11.6040268,12.0608568 L11.6040268,13.2707932"></path>
                        <path id="Line" stroke="#000000" stroke-width="0.5" stroke-linecap="square"
                              sketch:type="MSShapeGroup" d="M15.6363767,11.1413051 L15.4427869,12.5932288"></path>
                        <path d="M32.2367045,10.0281636 L15.6363767,11.1897025" id="Line" stroke="#000000"
                              stroke-width="0.5" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
                        <path id="Line" stroke="#000000" stroke-width="0.5" stroke-linecap="square"
                              sketch:type="MSShapeGroup" d="M21.8796487,10.608933 L21.7344563,12.3512415"></path>
                        <path id="Line" stroke="#000000" stroke-width="0.5" stroke-linecap="square"
                              sketch:type="MSShapeGroup" d="M32.3818969,9.93136864 L31.9947173,12.2544466"></path>
                        <path d="M29.6045265,28.7429001 L29.6705312,21.0205781 C29.6705312,21.0205781 28.1772151,18.957991 27.673946,18.6362277 C27.1706769,18.3144643 25.6113619,17.8276949 25.6113619,17.8276949 C25.6113619,17.8276949 24.7780752,18.4877229 24.7780752,18.7682341 C24.7780752,19.0487454 24.4728144,20.0965386 24.4728144,20.3935509 C24.4728144,20.6905633 24.4563118,23.297673 24.4563118,23.297673 C24.4563118,23.297673 24.4563118,28.7429 24.4563118,28.7429004 C24.4563118,28.7429007 29.6045265,28.7429001 29.6045265,28.7429001 Z"
                              id="Path-13" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                        <circle id="Oval-1" stroke="#C0C0C0" stroke-width="0.5" sketch:type="MSShapeGroup" cx="19"
                                cy="19" r="19"></circle>
                    </g>
                </g>
            </svg>
        </a>
        {% if page.nav %}
            {{ page.nav }}
        {% endif %}
        {% if page.search %}
            {{ page.search }}
        {% endif %}
    </div>
</header>

<div class="offcanvas pushy pushy-left">
    <div class="menu-btn close" aria-hidden="true">&#10005; Menu</div>
    {% if page.nav %}
        {{ page.nav }}
    {% endif %}
    {% if page.search %}
        {{ page.search }}
    {% endif %}
</div>

<!-- Site Overlay -->
<div class="site-overlay"></div>

<div id="container" class="container-main">
    <!-- Front Page -->

    {% if is_front %}
    <div class="front">

        <section class="cover">
            <div class="contain">
                {% if page.front_one %}
                    {{ page.front_one }}
                {% endif %}
            </div>
        </section>

        <section id="features" class="front-section features">
            <div class="contain">
                {% if page.front_two %}
                    {{ page.front_two }}
                {% endif %}
                <div class="next-section">
                    <a class="cta-button" href="#icons">Next section
                        <svg class="injected-svg arrow inject-svg" data-src="themes/monoset/icons/chevron-down.svg"
                             height="24" version="1.1" viewbox="0 0 24 24" width="24"
                             xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </section>

        <section id="icons" class="front-section icons">
            <div class="contain">
                {% if page.front_three %}
                    {{ page.front_three }}
                {% endif %}
                <div class="next-section">
                    <a class="cta-button" href="#posts">Next section
                        <svg class="injected-svg arrow inject-svg" data-src="themes/monoset/icons/chevron-down.svg"
                             height="24" version="1.1" viewbox="0 0 24 24" width="24"
                             xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </section>

        <section id="posts" class="front-section posts">
            {% if page.front_four %}
                {{ page.front_four }}
            {% endif %}
            <div class="next-section">
                <a class="cta-button" href="#news">Next section
                    <svg class="injected-svg arrow inject-svg" data-src="themes/monoset/icons/chevron-down.svg"
                         height="24" version="1.1" viewbox="0 0 24 24" width="24" xlink="http://www.w3.org/1999/xlink"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                    </svg>
                </a>
            </div>
        </section>

        <section class="front-section news" id="news">
            <div class="contain">
                {% if page.front_five %}
                    <!-- ??? {{ messages }} -->
                    {{ page.front_five }}
                {% endif %}
                <div class="next-section">
                    <a class="cta-button" href="#featured">Next section
                        <svg class="injected-svg arrow inject-svg" data-src="themes/monoset/icons/chevron-down.svg"
                             height="24" version="1.1" viewbox="0 0 24 24" width="24"
                             xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                        </svg>
                    </a>
                </div>
        </section>
    </div>
    </section>

    <section id="featured" class="front-section featured">
        <div class="featured-box">
            {% if page.front_six %}
                {{ page.front_six }}
            {% endif %}
        </div>
        <div class="featured-box">
            {% if page.front_seven %}
                {{ page.front_seven }}
            {% endif %}
        </div>
        <div class="next-section"><a class="cta-button" href="#features">Back to top
                <svg class="injected-svg arrow inject-svg" data-src="themes/monoset/icons/chevron-up.svg"
                     height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z"></path>
                </svg>
            </a>
          </div>
    </section>

    <section class="front-section source">
        <div class="contain">
            {% if page.front_eight %}
                {{ page.front_eight }}
            {% endif %}
        </div>
    </section>

</div>

{% else %}

<!-- Main Content -->
<div class="content contain">
    <div class="page-content">
        <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
        {{ messages }}
        {% if page.help %}
            <div class="help">
                {{ page.help }}
            </div>
        {% endif %}
        {% if action_links %}
            <ul class="action-links">
                {{ action_links }}
            </ul>
        {% endif %}

        {% if secondary_local_tasks %}
            <div class="tabs-secondary clearfix" role="navigation">{{ secondary_local_tasks }}</div>
        {% endif %}

        {# {{ kint() }} #}
        {# {{ kint(page) }} #}
        {# Requires Devel Module  #}

        {{ title_prefix }}
        {% if title %}
            <h1 class="page-title">{{ title }}</h1>
        {% endif %}
        {{ title_suffix }}
        {% if primary_local_tasks %}
            {{ primary_local_tasks }}
        {% endif %}

        {% if page.content_top %}
            {{ page.content_top }}
        {% endif %}

        {{ page.content }}

        {% if page.content_bottom %}
            {{ page.content_bottom }}
        {% endif %}

        {% endif %}

    </div>
</div>
</div>
<footer class="footer-main">
    <div class="contain">
        {% if page.footer %}
            {{ page.footer }}
        {% endif %}
        <a class="github" href="https://github.com/iainhouston/bradford-abbas.uk"
           title="Fork us on GitHub">
          <img data-src="/themes/contrib/pellucid_monoset/icons/github-circle.svg"
            alt="Fork us at GitHub" class="inject-svg">
        </a>
        <a class="top-link" href="#container" title="Go to top">
          <img data-src="/themes/contrib/pellucid_monoset/icons/chevron-up.svg"
            alt="Go to top"  class="inject-svg">
        </a>
    </div>
</footer>
